<html>
	<head>
		<title>Dictionary</title>
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
		<link rel='stylesheet' href='main.css'>
	</head>
	<body>
		<div class='container-fluid'>
			<div class="text-center">
				<a href="/">Home</a>
			</div>
			<div id="main-content">
				<%= yield %>
			</div>
		</div>
	</body>
</html>
