<html lang="en">
	<head>
		<title>Rural Dictionary</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
		<link rel='stylesheet' href='/main.css'>
	</head>
	<body>
		<div id="site-wrapper" class='container-fluid'>
			<div class="text-center">
				<a id="link-home" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
			</div>
			<div id="main-content">
				<%= yield %>
			</div>
		</div>
	</body>
</html>
