.custom-input {
  width: 80%;
}

.btn-container {
  margin-top: 50px;
}

#main-content {
  margin-top: 25px;
  margin-bottom: 25px;
}

.form-container {
  margin-top: 50px;
}

/* Typography
************/

h1, h2, h3, p {
  letter-spacing: 1px;
}

#main-title {
  font-size: 72px;
}


.glyphicon {
  font-size: 24px;
  color: black;
  margin-top: 10px;
}
