@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Shadows+Into+Light);

.custom-input {
  width: 30%;
  margin-top: 10px;
}

label {
  font-size: 24px;
}

.btn-container {
  margin-top: 50px;
}

#main-content {
  margin-top: 25px;
  margin-bottom: 25px;
}

#site-wrapper {
  background-color: #FFFBD0;
}

.form-container {
  margin-top: 50px;
}

.form-group {
  padding-bottom: 10px;
}

/* Typography
************/

h1, h2, h3, p, a {
  letter-spacing: 1px;
  color: #9C2A00;
}

h2, dt {
  font-family: 'Shadows into Light', serif;
  font-size: 24px;
  font-weight: bold;
}

dd {
  font-size: 20px;
  font-family: 'Shadows into Light', serif;
  background-color: white;
  text-align: left;
}

h1 {
  font-family: 'Shadows into Light', sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 48px;
}

#main-title {
  font-size: 72px;
}

.word-page-header {
  font-size: 72;
  margin-bottom: 20px;
}

.glyphicon {
  font-size: 48px;
  color: black;
  margin-top: 10px;
}

.btn {
  background-color: #9C2A00;
}

.btn:hover {
  transform: scale(1.1);
}
